@use "variables" as *;

.navbar {
  background-color: $primary;
  padding: auto;
  border-radius: $border-radius;

  &-brand img {
    height: 50px;
  }

  .nav-link {
    color: white !important;
    font-weight: 500;
  }

  // Versión para promos
  &.promo-nav {
    background-color: $secondary;
  }
}